:root {
    --primary: #4A90E2;
    --light: #7FDBFF;
    --white: #F7F7F7;
    --white-alpha-low: rgba(247, 247, 247, 0.5);
    --dark: #2B2D42;
    --dark-alpha-low: rgba(43, 45, 66, 0.5);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
input,
button {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--dark);
}

.note-app {
    width: 60%;
    margin: 0 auto;
    padding: 12px;
    overflow: hidden;
}

.note-app h1 {
    margin: 8px 0;
    color: var(--light);
}

.note-app h2 {
    margin-top: 20px;
    margin-bottom: 0;
    color: var(--light);
}

.note-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.search-container {
    position: relative;
    width: 100%;
    max-width: 400px;
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #7FDBFF;
    /* Ikon berwarna biru pastel */
}

.search-input {
    width: 100%;
    padding: 10px 10px 10px 35px;
    /* Offset untuk ikon */
    font-size: 16px;
    border: 1px solid #4A90E2;
    /* Warna modern */
    border-radius: 25px;
    background-color: #f7f7f7;
    color: #2b2d42;
    transition: box-shadow 0.3s ease, border 0.3s ease;
}

.search-input::placeholder {
    color: #a0a0a0;
    font-style: italic;
}

.search-input:focus {
    outline: none;
    border: 1px solid #7FDBFF;
    box-shadow: 0 0 10px rgba(122, 200, 255, 0.5);
}


.note-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.note-form span {
    font-size: 14px;
    color: var(--white-alpha-low);
}

.note-form input,
.note-form textarea {
    padding: 10px;
    border-radius: 4px;
    font-size: 14px;
}

.note-form textarea {
    resize: none;
    min-height: 100px;
}

.note-form textarea,
.note-form textarea::placeholder {
    font-family: 'Poppins', sans-serif;
}

.note-form button {
    padding: 10px;
    border: 1px solid var(--primary);
    border-radius: 4px;
    font-size: 14px;
    background-color: var(--primary);
    color: var(--white);
    cursor: pointer;
    transition: .3s;
}

.note-form button:hover {
    border: 1px solid var(--primary);
    background-color: var(--dark);
    color: var(--primary);
}

.note-list {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
}

.note-list-empty {
    margin-top: 10px;
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: var(--white-alpha-low);
    background-color: var(--dark);
    border: 1px solid var(--white-alpha-low);
    border-radius: 4px;
    padding: 10px;
}

.note-item {
    position: relative;
    width: calc(33.33% - 10px);
    padding: 10px;
    border: 1px solid var(--white-alpha-low);
    border-radius: 4px;
    background-color: var(--dark);
    color: var(--white);
    box-shadow: var(--box-shadow);
    transition: .3s;
    overflow: hidden;
}

.note-item-body {
    min-height: 180px;
}

.note-item-title {
    font-size: 16px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 10px;
}

.note-item-date {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 12px;
    color: var(--white-alpha-low);
}

.note-item-body-content {
    font-size: 14px;
    font-weight: lighter;
}

.note-item-action {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border-top: 1px solid var(--dark-alpha-low);
    padding-top: 10px;
}

.delete-button {
    display: block;
    width: 100%;
    padding: 5px;
    font-size: 14px;
    background-color: var(--dark);
    border: 1px solid var(--primary);
    border-radius: 4px;
    color: var(--primary);
    cursor: pointer;
    transition: .3s;
}

.delete-button:hover {
    background-color: var(--primary);
    border: 1px solid var(--primary);
    color: var(--white);
}

.archive-button {
    display: block;
    width: 100%;
    padding: 5px;
    font-size: 14px;
    background-color: var(--primary);
    border: 1px solid var(--primary);
    border-radius: 4px;
    color: var(--white);
    cursor: pointer;
    transition: .3s;
}

.archive-button:hover {
    background-color: var(--dark);
    border: 1px solid var(--primary);
    color: var(--primary);
}

@media screen and (max-width: 1024px) {
    .note-app {
        width: 80%;
    }
}

@media screen and (max-width: 768px) {
    .note-app {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .note-item {
        width: 100%;
    }

    .note-item-body {
        min-height: 140px;
    }
}